<div class="container">
  <h3>Cobros</h3>
  <ul class="list-group">
    <li class="list-gourp-item">
      <div class="row">
        <div class="col-sm">Fecha</div>
        <div class="col-sm">Origen</div>
        <div class="col-sm">Motivo</div>
        <div class="col-sm">Monto</div>
      </div>
    </li>
  </ul>
  <h3>Pagos</h3>
  <ul class="list-group">
    <li class="list-gourp-item">
      <div class="row">
        <div class="col-sm">Fecha</div>
        <div class="col-sm">Origen</div>
        <div class="col-sm">Motivo</div>
        <div class="col-sm">Monto</div>
      </div>
    </li>
  </ul>
  <div class="row">
    <div class="col-md">
      <button class="btn btn-primary">Nuevo pago</button>
      <button class="btn btn-primary">Nuevo cobro</button>
    </div>
    <div class="col-md">
      <button class="btn btn-info">Descargar reporte del dia</button>
    </div>
  </div>
</div>